/* ================= CUSTOM PROPERTIES ================= */
:root {
    --padding-main: 2vw;
    --width-full: calc(100% - var(--padding-main) * 2);
    --color-main-bg: #DCB89F;
    --color-main-font: #D37456;
    --padding-top: 8rem;
    --transition-fast: .2s;
    --transition-normal: .5s;
    --transition-slow: .7s;
}

/* ================= RESET ================= */

/* html {
    cursor: none;
} */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-family: sans-serif;
    color: inherit;
    /* cursor: none !important; */
}

a, button {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

input[type="radio"],
input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label:not(.coupons__label),
select {
    display: block;
    cursor: pointer;
    border: 1px solid #000;
    padding: .5rem;
    margin-bottom: .5rem;

    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
label:not(.coupons__label):hover {
    background-color: #EEE;
    color: #000;
}
input[type="radio"]:checked+label {
    background-color: #000;
    color: #fff;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--color-main-font);
    font-weight: 300;
}

h2 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-main-font);
}

h5 {
    font-weight: 100;
    text-transform: uppercase;
}

p {
    margin-bottom: 1rem;
    font-size: .8rem;
}

img {
    width: 100%;
}

body::-webkit-scrollbar-track {
    background: transparent;
}
body {
    scrollbar-color: rgba(0, 0, 0, .3) transparent;
}

.cursor {
    position: absolute;
    z-index: 11;
    pointer-events: none;
}

/* ================= DESK HEADER ================= */
.header {
    width: var(--width-full);
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;

    padding: 1rem var(--padding-main);
    background-color: var(--color-main-bg);
    box-shadow: 0 2px 8px rgb(175, 175, 175);

    transition: all var(--transition-normal) ease-in-out;
    -webkit-transition: all var(--transition-normal) ease-in-out;
    -moz-transition: all var(--transition-normal) ease-in-out;
    -o-transition: all var(--transition-normal) ease-in-out;
}

.header__logo h1 {
    font-weight: 100;
}

.header__filters {
    position: relative;
    margin-top: 1.2rem;
    overflow: hidden;
    display: flex;
    height: max-content;

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.filter {
    height: max-content;
    width: 10rem;
}

.filter__tag {
    font-weight: 400;
}

.filter__tagsList {
    position: absolute;
    padding-top: .5rem;
    box-sizing: border-box;
}

.header__right {
    display: flex;
}

.cartBtn {
    margin-right: 4rem;
}

.navBtn {
    position: relative;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBtn__bar {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;

    transition: all var(--transition-fast) ease-in-out;
    -webkit-transition: all var(--transition-fast) ease-in-out;
    -moz-transition: all var(--transition-fast) ease-in-out;
    -o-transition: all var(--transition-fast) ease-in-out;
}

.navBtn__bar:first-child {
    transform: translate(0, -.3rem) rotate(0);
}

.navBtn__bar:last-child {
    transform: translate(0, .3rem) rotate(0);
}

.navBtn__bar--first-close {
    transform: translate(0, 0) rotate(45deg) !important;
}
.navBtn__bar--second-close {
    transform: translate(0, 0) rotate(-45deg) !important;
}

/* ================= DESK HOME ================= */

.home {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: var(--padding-top) var(--padding-main);
    background-color: var(--color-main-bg);
    color: var(--color-main-font);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__title,
.home__subtitle,
.home__infos {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.home__img {
    position: absolute;
    top: 30vh;
    width: 30rem;
    cursor: pointer;
}

.home__img video {
    width: 100%;
}

.home__img:focus {
    z-index: 3;
}

.home__title {
    font-size: 5rem;
    pointer-events: none;
}

.home__subtitle {
    font-size: 2.5rem;
}

.home__infos {
    font-weight: 100;
}

/* ================= DESK CRAFTMAN ================= */
.row {
    display: flex;
    justify-content: space-between;
}

.presentation__text {
    margin-top: 1rem;
    margin-left: 2%;
}

.column {
    width: 50%;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ================= DESK AUTHORS ================= */
.authors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4vw;

    padding: 0 var(--padding-main);
}

.author__id {
    margin: .5rem 0;
}

.author__job {
    text-transform: lowercase;
}

/* ================= DESK SHOP ================= */
.products {
    display: grid;
    margin: 2%;
    grid-template-columns: repeat(2, 1fr);
}

.product {
    display: flex;
}

.product__infos {
    margin-left: .7rem;
}

.product__name {
    margin-bottom: .3rem;
}

.product__author {
    font-weight: 400;
}

.product__price {
    margin: 1rem 0;
    font-weight: 100;
}

.product__description {
    width: 70%;
}

/* ================= DESK MODAL PRODUCT ================= */
.modal {
    position: fixed;  
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    padding: 2rem;
    box-sizing: border-box;
}

.modal__product {
    display: flex;
    flex-wrap: wrap;
}

.modal__product__images {
    width: 70%;
    text-align: center;
}
.modal__product__images img {
    width: 50%;
}

/* ================= DESK MODAL OPTIONS ================= */
.modal__product__options {
    width: 30%;
}
.productOptions {
    width: max-content;
}
.productOptions__option {
    margin-bottom: 2rem;
}

.product__models {
    margin-bottom: 2rem;
}

/* ================= DESK MODAL WITHDRAWAL ================= */
.withdrawalMode {
    margin-top: 2rem;
}

.product__withdrawalMessage {
    margin-top: 2rem;
}

/* ================= DESK MODAL SECTIONS ================= */
.modal__product__details {
    margin-bottom: 4rem;
}
.modal__section {
    position: relative;
    height: 20rem;
}

/* ================= DESK MODAL AUTHOR ================= */
.modal__author {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
}

.modal__authorWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.modal__author header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.modal__author .see {
    margin-left: 1rem;
}

.modal__author__main {
    display: flex;
    gap: 3rem;
}

.modal__author__text {
    width: 190%;
}

/* ================= DESK CART ================= */
.cart {
    position: fixed;
    overflow: auto;
    z-index: 10;
    top: 5rem;
    bottom: 0;
    right: 0;
    width: 35%;
    padding: 2rem 1rem;
    box-sizing: border-box;
    background-color: var(--color-main-bg);
    box-shadow: -2px 5px 8px rgb(175, 175, 175);
    transform: translateX(100%);

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.cart.open {
    transform: translateX(0%);
}

.cart__scrollable {
    height: 100%;
    overflow: auto;
}

.cart__empty {
    position: absolute;
    inset: 0;
    
    display: flex;  
    align-items: center;
    justify-content: center;
}

.cart__entry {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.cart__entry__image {
    width: 40%;
}
.cart__entry :where(h1, h2, h3) {
    font-weight: 300;
}
.cart__entry h1 {
    font-size: 1.3rem;
}
.cart__entry h2 {
    font-size: 1rem;
}

.cart__cleanBtn {
    margin-bottom: 4rem;
}

.cart__checkout {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    width: calc(100% - 2rem);
    text-align: center;
}

.cart__checkout :where(label, input) {
    display: block;
}

.cart__checkout input {
    border: 1px solid #000;
}

.coupons {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.coupons__input {
    margin: 0 1rem;
    padding: .3rem .5rem;
}

.cart__checkout button {
    width: 100%;
    text-align: center;
}

/* ================= GENERIC ================= */
.hidden {
    visibility: hidden;
}
.content {
    opacity: 0;
}

.claim {
    padding: 1rem var(--padding-main);
    color: #000;
    font-size: 2rem;
}

.see {
    background-color: transparent;
    color: #000;
    font-size: .9rem;
    font-weight: 300;
    padding: .3rem .5rem;
    border: 1px solid #000;
    border-radius: 1rem;

    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}
.see:hover {
    background-color: #000;
    color: #fff;
}

.add {
    margin-left: 1rem;
    padding: .5rem .8rem;
    border-radius: 1rem;
    border: 1px solid #000;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}
.add:hover {
    background-color: #000;
    color: #fff;
}
.moreless {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 300;
}

.quantity {
    width: 2rem;
    text-align: center;
    border: 1px solid #000;
    height: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
}

.addSection {
    margin-top: 2rem;
}

/* ================= VUE TRANSITION ================= */

.fade-item {
    transition: all 1s;
    display: inline-block;
  }
.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(1rem);
}
.fade-enter-active, .fade-leave-active {
   position: absolute;
   transition: all .5s;
}
.fade-move {
    transition: transform .5s;
}

.allProducts-enter, .allProducts-leave-to {
    opacity: 0;
}
.allProducts-enter-active, .allProducts-leave-active {
    transition: opacity .5s;
}

/* ================= MOBILE ================= */

@media screen and (max-width: 800px) {
    .row {
        display: block;
    }
    .column {
        width: 100%;
        padding: 1rem;
    }
}